In [1]:
import os
os.chdir('C:\\Users\\Rishabh.jain\\Desktop\\Other\\Projects\\Recommender System\\Refactored_Py_DS_ML_Bootcamp-master\\19-Recommender-Systems')

In [2]:
import pandas as pd
import numpy as np

In [3]:
col_names=['user_id','item_id','rating','timestamp']

In [4]:
df=pd.read_csv('u.data',sep='\t',names=col_names)
df.head(10)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742
5       22      377       1  878887116
6      244       51       2  880606923
7      166      346       1  886397596
8      298      474       4  884182806
9      115      265       2  881171488

In [5]:
movie=pd.read_csv('Movie_Id_Titles')

In [6]:
df=pd.merge(df,movie,on='item_id')
df.head(10)

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)
5      274       50       5  878944679  Star Wars (1977)
6      227       50       4  879035347  Star Wars (1977)
7       99       50       5  885679998  Star Wars (1977)
8      305       50       5  886321799  Star Wars (1977)
9      108       50       4  879879739  Star Wars (1977)

df=df.set_index('title')
df=df.drop(['unknown'],axis=0)
df.shape

In [7]:
df=df[df.title!='unknown'] # 'unknown' named movie rows are deleted
df[df['title']=='unknown']

Empty DataFrame
Columns: [user_id, item_id, rating, timestamp, title]
Index: []

In [8]:
len(df['user_id'].unique())

944

In [9]:
user_best=pd.DataFrame()

In [10]:
user_best['best_rating']=df.groupby('user_id')['rating'].max()
user_best.head(10)

         best_rating
user_id
0                  5
1                  5
2                  5
3                  5
4                  5
5                  5
6                  5
7                  5
8                  5
9                  5

In [11]:
user_best['user_id']=user_best.index
user_best.index=range(len(df['user_id'].unique()))
user_best[user_best['best_rating']<5]    #Some users have given rating maximum of 4 also in the data.

     best_rating  user_id
40             4       40
102            4      102
205            4      205
275            4      275
302            4      302
552            4      552
564            4      564
571            4      571
631            4      631
685            3      685
750            4      750
814            4      814
824            4      824
855            4      855
866            4      866

In [13]:
k=user_best.index.tolist()    #checking tolist() function
k[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
user_best.shape

(944, 2)

In [15]:
df=pd.merge(df,user_best,on='user_id')
df.head(10)

,user_id,item_id,rating,timestamp,title,best_rating
0,0,50,5,881250949,Star Wars (1977),5
1,0,172,5,881250949,"Empire Strikes Back, The (1980)",5
2,0,133,1,881250949,Gone with the Wind (1939),5
3,290,50,5,880473582,Star Wars (1977),5
4,290,172,5,880474141,"Empire Strikes Back, The (1980)",5
5,290,133,3,880473735,Gone with the Wind (1939),5
6,290,474,3,880474204,Dr. Strangelove or: How I Learned to Stop Worr...,5
7,290,265,4,880475371,"Hunt for Red October, The (1990)",5
8,290,465,3,880474799,"Jungle Book, The (1994)",5
9,290,257,4,880731518,Men in Black (1997),5

In [16]:
df_best_rated=df[df['rating']==df['best_rating']]

Checking that are we able to get users who have rated 4 at max to any of movie

In [18]:
df_best_rated[df_best_rated['best_rating']==4]    #confirmed that we are getting best rated movie for every customer

,user_id,item_id,rating,timestamp,title,best_rating
8707,102,50,4,888801315,Star Wars (1977),4
8718,102,95,4,883748488,Aladdin (1992),4
8721,102,98,4,888802939,"Silence of the Lambs, The (1991)",4
8744,102,208,4,888803537,Young Frankenstein (1974),4
8747,102,174,4,888801360,Raiders of the Lost Ark (1981),4
8749,102,307,4,883748222,"Devil's Advocate, The (1997)",4
8750,102,195,4,888801360,"Terminator, The (1984)",4
8767,102,258,4,875886337,Contact (1997),4
8771,102,202,4,892991269,Groundhog Day (1993),4
8773,102,228,4,888801465,Star Trek: The Wrath of Khan (1982),4
8783,102,89,4,888801315,Blade Runner (1982),4
8789,102,204,4,888803487,Back to the Future (1985),4
8790,102,227,4,888801673,Star Trek VI: The Undiscovered Country (1991),4
8791,102,183,4,888801360,Alien (1979),4
8797,102,175,4,892991117,Brazil (1985),4
8802,102,612,4,879082395,Lost Horizon (1937),4
8805,102,186,4,888803487,"Blues Brothers, The (1980)",4
8836,102,588,4,883748450,Beauty and the Beast (1991),4
8842,102,449,4,888802176,Star Trek: The Motion Picture (1979),4
8850,102,447,4,888803002,Carrie (1976),4
8862,102,319,4,875886434,Everyone Says I Love You (1996),4
8866,102,510,4,888801316,"Magnificent Seven, The (1954)",4
8886,102,101,4,883748488,Heavy Metal (1981),4
14792,275,50,4,876198296,Star Wars (1977),4
14793,275,265,4,880314031,"Hunt for Red October, The (1990)",4
14796,275,222,4,876198296,Star Trek: First Contact (1996),4
14797,275,144,4,880314137,Die Hard (1988),4
14799,275,1,4,875154310,Toy Story (1995),4
14801,275,98,4,875155140,"Silence of the Lambs, The (1991)",4
14803,275,432,4,875154535,Fantasia (1940),4
...,...,...,...,...,...,...
98543,814,98,4,885410957,"Silence of the Lambs, The (1991)",4
98545,814,100,4,885410957,Fargo (1996),4
98546,814,288,4,885410789,Scream (1996),4
98547,814,219,4,885411030,"Nightmare on Elm Street, A (1984)",4
98549,814,200,4,885411204,"Shining, The (1980)",4
98552,814,7,4,885411073,Twelve Monkeys (1995),4
98561,814,665,4,885411204,Alien 3 (1992),4
98563,814,53,4,885411132,Natural Born Killers (1994),4
98962,824,322,4,877021044,Murder at 1600 (1997),4
98966,824,268,4,877020871,Chasing Amy (1997),4
98972,824,325,4,877021121,Crash (1996),4
98973,824,259,4,877020927,George of the Jungle (1997),4
99029,750,304,4,879446013,Fly Away Home (1996),4
99030,750,327,4,879446013,Cop Land (1997),4
99032,750,288,4,879445808,Scream (1996),4
99034,750,294,4,879445961,Liar Liar (1997),4
99035,750,328,4,879445808,Conspiracy Theory (1997),4
99041,750,303,4,879445911,Ulee's Gold (1997),4
99043,750,879,4,879445961,"Peacemaker, The (1997)",4
99044,750,271,4,879445911,Starship Troopers (1997),4
99045,750,286,4,879445755,"English Patient, The (1996)",4
99047,750,305,4,879445877,"Ice Storm, The (1997)",4
99049,750,306,4,879445877,"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",4
99050,750,301,4,879445911,In & Out (1997),4
99051,750,269,4,879445755,"Full Monty, The (1997)",4
99053,750,331,4,879446114,"Edge, The (1997)",4
99058,750,270,4,879445877,Gattaca (1997),4
99598,302,307,4,879436739,"Devil's Advocate, The (1997)",4
99605,302,271,4,879436911,Starship Troopers (1997),4
99609,302,301,4,879436820,In & Out (1997),4

In [19]:
df_best_rated.head(10)

,user_id,item_id,rating,timestamp,title,best_rating
0,0,50,5,881250949,Star Wars (1977),5
1,0,172,5,881250949,"Empire Strikes Back, The (1980)",5
3,290,50,5,880473582,Star Wars (1977),5
4,290,172,5,880474141,"Empire Strikes Back, The (1980)",5
14,290,1,5,880474327,Toy Story (1995),5
21,290,432,5,880474590,Fantasia (1940),5
22,290,181,5,880473696,Return of the Jedi (1983),5
24,290,143,5,880474293,"Sound of Music, The (1965)",5
25,290,423,5,880474422,E.T. the Extra-Terrestrial (1982),5
37,290,174,5,880473891,Raiders of the Lost Ark (1981),5

The below dataframe will have best rated movies in latest to oldest watch order

In [20]:
df_best_rated=df_best_rated.sort_values(['user_id','timestamp'], ascending=[True,False]).reset_index(drop=True)
df_best_rated=df_best_rated.drop('best_rating',axis=1)
df_best_rated.head(10)

,user_id,item_id,rating,timestamp,title
0,0,50,5,881250949,Star Wars (1977)
1,0,172,5,881250949,"Empire Strikes Back, The (1980)"
2,1,111,5,889751711,"Truth About Cats & Dogs, The (1996)"
3,1,171,5,889751711,Delicatessen (1991)
4,1,242,5,889751633,Kolya (1996)
5,1,32,5,888732909,Crumb (1994)
6,1,270,5,888732827,Gattaca (1997)
7,1,6,5,887431973,Shanghai Triad (Yao a yao yao dao waipo qiao) ...
8,1,221,5,887431921,Breaking the Waves (1996)
9,1,129,5,887431908,Bound (1996)

# Latest watched best rated movie for every user

In [21]:
df_best_rated1=df_best_rated.groupby('user_id').first()
df_best_rated1['user_id']=df_best_rated1.index
df_best_rated1.index=range(len(df_best_rated1)) #resetting index to serial numbers
df_best_rated1[df_best_rated1['rating']==4]     # all customer's latest best rated movie is captured confirmed

     item_id  rating  timestamp                              title  user_id
40       754       4  889041790                  Red Corner (1997)       40
102      202       4  892991269               Groundhog Day (1993)      102
205      748       4  888284710                  Saint, The (1997)      205
275      423       4  880315322  E.T. the Extra-Terrestrial (1982)      275
302      271       4  879436911           Starship Troopers (1997)      302
552      121       4  879222698      Independence Day (ID4) (1996)      552
564      257       4  888731011                Men in Black (1997)      564
571       64       4  883355063   Shawshank Redemption, The (1994)      571
631      289       4  888465216                       Evita (1996)      631
750      331       4  879446114                   Edge, The (1997)      750
814      200       4  885411204                Shining, The (1980)      814
824      325       4  877021121                       Crash (1996)      824
855      198       4  879825613    Nikita (La Femme Nikita) (1990)      855
866      319       4  891221302    Everyone Says I Love You (1996)      866

In [22]:
moviemat=df.pivot_table(index='user_id',columns='title',values='rating')
moviemat

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,3.0,NaN,NaN,NaN,5.0,3.0,NaN,3.0,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,2.0,4.0,NaN,NaN,2.0,5.0,1.0,4.0,...,5.0,NaN,2.0,NaN,5.0,3.0,NaN,1.0,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,5.0,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,NaN,NaN,NaN,5.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
932,NaN,NaN,2.0,5.0,NaN,NaN,4.0,5.0,NaN,5.0,...,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
934,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
937,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN

In [23]:
type(moviemat)

pandas.core.frame.DataFrame

In [24]:
moviemat.shape

(944, 1663)

In [26]:
moviemat.columns.get_loc("Star Wars (1977)")   # getting position of "Star Wars (1997)" movie to see what's the correlation value for it

1398

In [27]:
moviemat.corrwith(moviemat.iloc[:,1398])#.sort_values(ascending=False)

C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns (1988)                        0.186377
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1663, dtype: float64

In [28]:
m=pd.DataFrame(moviemat.corrwith(moviemat.iloc[:,1398]), columns=['Star Wars (1977)'])
m.head(10)

C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                             Star Wars (1977)
title
'Til There Was You (1997)                            0.872872
1-900 (1994)                                        -0.645497
101 Dalmatians (1996)                                0.211132
12 Angry Men (1957)                                  0.184289
187 (1997)                                           0.027398
2 Days in the Valley (1996)                          0.066654
20,000 Leagues Under the Sea (1954)                  0.289768
2001: A Space Odyssey (1968)                         0.230884
3 Ninjas: High Noon At Mega Mountain (1998)               NaN
39 Steps, The (1935)                                 0.106453

In [29]:
b=moviemat.corrwith(moviemat.iloc[:,1398])
type(b)

C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

pandas.core.series.Series

In [30]:
b=b.tolist()
type(b)

list

In [31]:
b[0:10]

[0.8728715609439696,
 -0.6454972243679027,
 0.21113226604908078,
 0.18428943911380222,
 0.027397823081401235,
 0.0666541292818591,
 0.28976830915416396,
 0.23088413157668894,
 nan,
 0.10645293678493904]

In [32]:
len(b)

1663

# Best latest max rated movie for each user

In [33]:
df_corr=df_best_rated1.iloc[:,[3,4]]
df_corr=df_corr[['user_id','title']]    # changing column location
df_corr.head(10)

   user_id                                              title
0        0                                   Star Wars (1977)
1        1                Truth About Cats & Dogs, The (1996)
2        2                          As Good As It Gets (1997)
3        3  Paradise Lost: The Child Murders at Robin Hood...
4        4                                   Liar Liar (1997)
5        5             Return of the Pink Panther, The (1974)
6        6                                       Dumbo (1941)
7        7             One Flew Over the Cuckoo's Nest (1975)
8        8                    Star Trek: First Contact (1996)
9        9                                  Casablanca (1942)

In [34]:
movie=pd.read_csv('Movie_Id_Titles')
movie=movie.sort_values('title')
movie=movie.drop(['item_id'],axis=1)
movie.head(10)

                                            title
1299                    'Til There Was You (1997)
1352                                 1-900 (1994)
224                         101 Dalmatians (1996)
177                           12 Angry Men (1957)
329                                    187 (1997)
1010                  2 Days in the Valley (1996)
140           20,000 Leagues Under the Sea (1954)
134                  2001: A Space Odyssey (1968)
313   3 Ninjas: High Noon At Mega Mountain (1998)
614                          39 Steps, The (1935)

In [35]:
movie.shape

(1682, 1)

In [36]:
movie_corr=movie.copy()
movie_corr=movie_corr.reset_index(drop=True)
movie_corr.head(10)

                                         title
0                    'Til There Was You (1997)
1                                 1-900 (1994)
2                        101 Dalmatians (1996)
3                          12 Angry Men (1957)
4                                   187 (1997)
5                  2 Days in the Valley (1996)
6          20,000 Leagues Under the Sea (1954)
7                 2001: A Space Odyssey (1968)
8  3 Ninjas: High Noon At Mega Mountain (1998)
9                         39 Steps, The (1935)

In [37]:
df.head(10)

,user_id,item_id,rating,timestamp,title,best_rating
0,0,50,5,881250949,Star Wars (1977),5
1,0,172,5,881250949,"Empire Strikes Back, The (1980)",5
2,0,133,1,881250949,Gone with the Wind (1939),5
3,290,50,5,880473582,Star Wars (1977),5
4,290,172,5,880474141,"Empire Strikes Back, The (1980)",5
5,290,133,3,880473735,Gone with the Wind (1939),5
6,290,474,3,880474204,Dr. Strangelove or: How I Learned to Stop Worr...,5
7,290,265,4,880475371,"Hunt for Red October, The (1990)",5
8,290,465,3,880474799,"Jungle Book, The (1994)",5
9,290,257,4,880731518,Men in Black (1997),5

In [38]:
c=list(moviemat.columns)
c[0:15]

["'Til There Was You (1997)",
 '1-900 (1994)',
 '101 Dalmatians (1996)',
 '12 Angry Men (1957)',
 '187 (1997)',
 '2 Days in the Valley (1996)',
 '20,000 Leagues Under the Sea (1954)',
 '2001: A Space Odyssey (1968)',
 '3 Ninjas: High Noon At Mega Mountain (1998)',
 '39 Steps, The (1935)',
 '8 1/2 (1963)',
 '8 Heads in a Duffel Bag (1997)',
 '8 Seconds (1994)',
 'A Chef in Love (1996)',
 'Above the Rim (1994)']

In [39]:
corr=pd.DataFrame(columns=c)
corr

Empty DataFrame
Columns: ['Til There Was You (1997), 1-900 (1994), 101 Dalmatians (1996), 12 Angry Men (1957), 187 (1997), 2 Days in the Valley (1996), 20,000 Leagues Under the Sea (1954), 2001: A Space Odyssey (1968), 3 Ninjas: High Noon At Mega Mountain (1998), 39 Steps, The (1935), 8 1/2 (1963), 8 Heads in a Duffel Bag (1997), 8 Seconds (1994), A Chef in Love (1996), Above the Rim (1994), Absolute Power (1997), Abyss, The (1989), Ace Ventura: Pet Detective (1994), Ace Ventura: When Nature Calls (1995), Across the Sea of Time (1995), Addams Family Values (1993), Addicted to Love (1997), Addiction, The (1995), Adventures of Pinocchio, The (1996), Adventures of Priscilla, Queen of the Desert, The (1994), Adventures of Robin Hood, The (1938), Affair to Remember, An (1957), African Queen, The (1951), Afterglow (1997), Age of Innocence, The (1993), Aiqing wansui (1994), Air Bud (1997), Air Force One (1997), Air Up There, The (1994), Airheads (1994), Akira (1988), Aladdin (1992), Aladdin and the King of Thieves (1996), Alaska (1996), Albino Alligator (1996), Alice in Wonderland (1951), Alien (1979), Alien 3 (1992), Alien: Resurrection (1997), Aliens (1986), All About Eve (1950), All Dogs Go to Heaven 2 (1996), All Over Me (1997), All Things Fair (1996), Alphaville (1965), Amadeus (1984), Amateur (1994), Amazing Panda Adventure, The (1995), American Buffalo (1996), American Dream (1990), American President, The (1995), American Strays (1996), American Werewolf in London, An (1981), American in Paris, An (1951), Amistad (1997), Amityville 1992: It's About Time (1992), Amityville 3-D (1983), Amityville Curse, The (1990), Amityville Horror, The (1979), Amityville II: The Possession (1982), Amityville: A New Generation (1993), Amityville: Dollhouse (1996), Amos & Andrew (1993), An Unforgettable Summer (1994), Anaconda (1997), Anastasia (1997), Andre (1994), Angel Baby (1995), Angel and the Badman (1947), Angel on My Shoulder (1946), Angela (1995), Angels and Insects (1995), Angels in the Outfield (1994), Angus (1995), Anna (1996), Anna Karenina (1997), Anne Frank Remembered (1995), Annie Hall (1977), Another Stakeout (1993), Antonia's Line (1995), Aparajito (1956), Apartment, The (1960), Apocalypse Now (1979), Apollo 13 (1995), Apostle, The (1997), Apple Dumpling Gang, The (1975), April Fool's Day (1986), Apt Pupil (1998), Aristocats, The (1970), Army of Darkness (1993), Around the World in 80 Days (1956), Arrival, The (1996), Arsenic and Old Lace (1944), As Good As It Gets (1997), Assassins (1995), ...]
Index: []

[0 rows x 1663 columns]

In [40]:
df_num=pd.DataFrame(df.groupby('title')['rating'].count())
df_num.head(10)                                                  # don't want to recommend those movies with less number of rating

                                             rating
title
'Til There Was You (1997)                         9
1-900 (1994)                                      5
101 Dalmatians (1996)                           109
12 Angry Men (1957)                             125
187 (1997)                                       41
2 Days in the Valley (1996)                      93
20,000 Leagues Under the Sea (1954)              72
2001: A Space Odyssey (1968)                    259
3 Ninjas: High Noon At Mega Mountain (1998)       5
39 Steps, The (1935)                             59

In [41]:
df_num80=df_num[df_num['rating']<80]
df_num80.head(10)                         # the recommended movie should not be from this dataframe

                                             rating
title
'Til There Was You (1997)                         9
1-900 (1994)                                      5
187 (1997)                                       41
20,000 Leagues Under the Sea (1954)              72
3 Ninjas: High Noon At Mega Mountain (1998)       5
39 Steps, The (1935)                             59
8 1/2 (1963)                                     38
8 Heads in a Duffel Bag (1997)                    4
8 Seconds (1994)                                  4
A Chef in Love (1996)                             8

In [43]:
df_num80_val=df_num80.index
df_num80_val[0:15]                # these movies needs to be removed as they won't be recommended due to less no. of ratings

Index([''Til There Was You (1997)', '1-900 (1994)', '187 (1997)',
       '20,000 Leagues Under the Sea (1954)',
       '3 Ninjas: High Noon At Mega Mountain (1998)', '39 Steps, The (1935)',
       '8 1/2 (1963)', '8 Heads in a Duffel Bag (1997)', '8 Seconds (1994)',
       'A Chef in Love (1996)', 'Above the Rim (1994)',
       'Ace Ventura: When Nature Calls (1995)',
       'Across the Sea of Time (1995)', 'Addicted to Love (1997)',
       'Addiction, The (1995)'],
      dtype='object', name='title')

In [44]:
df_num80_val.shape

(1241,)

In [45]:
len(df_num)-len(df_num80)        # number of movies that will be recommended

422

In [46]:
for i in list(moviemat.columns):
    temp=moviemat.corrwith(moviemat.loc[:,i])
    temp=temp.tolist()     # as corrwith() produces pandas series output
    corr[i]=temp
corr.index=c

C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Rishabh.jain200242\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [47]:
corr

,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),Á köldum klaka (Cold Fever) (1994)
'Til There Was You (1997),1.000000,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.000000,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.000000,NaN,1.000000,-0.049890,0.269191,0.048973,2.669281e-01,-0.043407,NaN,0.111111,...,0.042025,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN
12 Angry Men (1957),-0.500000,NaN,-0.049890,1.000000,0.666667,0.256625,2.747720e-01,0.178848,NaN,0.457176,...,0.179640,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,NaN
187 (1997),-0.500000,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,1.000000,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN
2 Days in the Valley (1996),0.522233,NaN,0.048973,0.256625,0.596644,1.000000,2.409658e-01,0.332724,NaN,0.000000,...,0.686864,NaN,NaN,NaN,0.064559,0.156220,0.132017,0.204926,NaN,NaN
"20,000 Leagues Under the Sea (1954)",NaN,NaN,0.266928,0.274772,NaN,0.240966,1.000000e+00,0.259308,NaN,-0.038127,...,0.096976,NaN,NaN,NaN,-0.096465,-0.010894,-0.518476,0.623795,NaN,NaN
2001: A Space Odyssey (1968),-0.426401,-0.981981,-0.043407,0.178848,-0.554700,0.332724,2.593080e-01,1.000000,NaN,0.367256,...,0.067965,NaN,NaN,NaN,-0.001307,-0.174918,-0.154765,-0.341753,-1.000000,NaN
3 Ninjas: High Noon At Mega Mountain (1998),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39 Steps, The (1935)",NaN,NaN,0.111111,0.457176,1.000000,0.000000,-3.812716e-02,0.367256,NaN,1.000000,...,0.161917,NaN,1.000000,NaN,0.179196,-0.337691,-0.054554,0.707107,NaN,NaN
8 1/2 (1963),NaN,1.000000,0.522233,0.635698,-1.000000,0.866025,5.570860e-01,0.179062,NaN,0.164733,...,1.000000,NaN,NaN,NaN,-0.485190,-0.498527,-0.240192,0.845154,NaN,NaN
8 Heads in a Duffel Bag (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8 Seconds (1994),NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
A Chef in Love (1996),NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Above the Rim (1994),NaN,NaN,NaN,1.000000,NaN,-0.866025,NaN,-0.192450,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.816497,NaN,NaN,NaN,NaN
Absolute Power (1997),NaN,NaN,0.398783,-0.163455,0.188237,-0.038838,1.625830e-01,-0.241580,NaN,0.248146,...,0.501307,NaN,NaN,NaN,0.050316,0.254324,-0.216581,0.501221,-0.500000,NaN
"Abyss, The (1989)",NaN,NaN,0.236350,0.045374,0.301511,0.174608,4.260511e-01,0.089206,NaN,0.187513,...,0.220800,NaN,NaN,NaN,0.140161,0.384703,0.317906,0.387793,NaN,NaN
Ace Ventura: Pet Detective (1994),0.981981,-1.000000,-0.147491,-0.243775,-0.688247,0.235904,-6.191880e-02,0.138417,NaN,0.028705,...,-0.297275,NaN,NaN,NaN,0.221837,0.360457,0.323724,0.028916,NaN,NaN
Ace Ventura: When Nature Calls (1995),0.866025,NaN,0.094964,-0.045596,0.577350,-0.206197,6.601320e-01,-0.128459,NaN,0.000000,...,0.025854,NaN,NaN,NaN,0.289445,-0.575176,-0.034080,-0.192450,NaN,NaN
Across the Sea of Time (1995),NaN,NaN,NaN,1.000000,NaN,NaN,7.559289e-01,-0.132453,NaN,NaN,...,0.838628,NaN,NaN,NaN,-0.755929,-1.000000,NaN,NaN,NaN,NaN
Addams Family Values (1993),NaN,NaN,0.195058,0.000000,-0.866025,-0.038043,3.866801e-02,-0.160236,NaN,0.210538,...,0.075146,NaN,NaN,NaN,0.439905,0.072713,0.379050,0.171499,NaN,NaN
Addicted to Love (1997),0.571772,NaN,-0.094832,0.867722,0.180756,0.424471,NaN,0.185111,NaN,NaN,...,0.079057,NaN,NaN,NaN,0.071007,0.000000,-0.301511,-0.636364,NaN,NaN
"Addiction, The (1995)",NaN,NaN,NaN,NaN,NaN,0.525561,8.660254e-01,0.391555,NaN,-1.000000,...,-1.000000,NaN,NaN,NaN,-0.605406,-0.361158,NaN,-0.333333,NaN,NaN
"Adventures of Pinocchio, The (1996)",NaN,NaN,0.242363,0.020207,0.960769,0.438529,0.000000e+00,0.173546,NaN,-0.090909,...,NaN,NaN,1.000000,NaN,-0.118262,0.233204,-1.000000,1.000000,-1.000000,NaN
"Adventures of Priscilla, Queen of the Desert, The (1994)",NaN,NaN,-0.135467,0.343750,0.883883,0.009032,5.014652e-01,0.077123,NaN,0.203898,...,-0.030303,NaN,1.000000,NaN,0.006924,-0.027420,-0.053060,0.143648,NaN,NaN
"Adventures of Robin Hood, The (1938)",NaN,NaN,-0.263889,0.450000,-0.218218,-0.083826,2.279014e-02,0.097428,NaN,-0.282963,...,-0.090405,NaN,NaN,NaN,0.270838,0.183671,0.295084,0.000000,NaN,NaN
"Affair to Remember, An (1957)",NaN,NaN,0.000000,0.794719,0.944911,0.175412,6.592685e-01,-0.073345,NaN,0.818182,...,0.146647,NaN,NaN,NaN,0.178504,0.179605,NaN,0.500000,NaN,NaN
"African Queen, The (1951)",NaN,NaN,0.192703,0.266966,0.912871,0.366952,2.327067e-01,0.152433,NaN,0.230732,...,0.122621,NaN,1.000000,NaN,0.233493,0.042534,-0.058222,0.291295,-1.000000,NaN
Afterglow (1997),NaN,NaN,NaN,1.000000,0.984732,NaN,1.000000e+00,0.514496,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.577350,NaN,NaN,0.000000,NaN,NaN
"Age of Innocence, The (1993)",1.000000,NaN,0.531490,0.420304,0.327327,0.109976,2.196515e-01,-0.113651,NaN,-0.244963,...,0.400655,NaN,NaN,NaN,0.024506,0.334784,0.310087,-0.455842,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Willy Wonka and the Chocolate Factory (1971),0.000000,0.188982,0.105261,0.149164,0.750555,0.104347,1.656777e-17,0.147293,NaN,0.281335,...,-0.069592,NaN,1.000000,NaN,0.291210,0.138136,0.236875,0.396059,-0.166091,NaN
Window to Paris (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wings of Courage (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wings of Desire (1987),NaN,0.995871,0.575224,0.098473,-0.235441,0.698501,5.465944e-01,0.021423,NaN,-0.215294,...,0.852803,NaN,NaN,NaN,-0.100886,-0.652051,-0.866025,0.391555,NaN,NaN
"Wings of the Dove, The (1997)",-0.866025,NaN,0.880705,-0.167860,0.384742,0.012098,1.936492e-01,-0.255616,NaN,-0.480384,...,-0.288675,NaN,1.000000,NaN,0.055419,0.600245,-1.000000,0.612372,NaN,NaN
Winnie the Pooh and the Blustery Day (1968),NaN,NaN,-0.101371,0.284898,0.870388,0.512989,-1.087564e-01,0.196614,NaN,-0.026150,...,0.714350,NaN,NaN,NaN,-0.062665,0.292648,0.000000,0.560112,NaN,NaN
"Winter Guest, The (1997)",NaN,NaN,1.000000,NaN,NaN,1.000000,1.000000e+00,-0.774597,NaN,1.000000,...,NaN,NaN,NaN,NaN,0.188982,1.000000,NaN,1.000000,NaN,NaN
Wishmaster (1997),NaN,NaN,1.000000,NaN,0.402953,NaN,-7.559289e-01,-0.641801,NaN,NaN,...,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
With Honors (1994),NaN,NaN,0.714832,-0.116568,NaN,0.723747,2.527576e-01,-0.157174,NaN,NaN,...,0.672026,NaN,NaN,NaN,0.103566,0.242028,0.533081,NaN,NaN,NaN
Withnail and I (1987),NaN,NaN,1.000000,0.921132,1.000000,0.944911,7.559289e-01,0.069580,NaN,NaN,...,0.866025,NaN,NaN,NaN,0.013286,NaN,NaN,NaN,NaN,NaN
Witness (1985),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wizard of Oz, The (1939)",-0.132453,-1.000000,0.366592,0.165508,0.741480,0.159602,4.524856e-01,0.236830,NaN,0.233570,...,0.390592,NaN,0.500000,NaN,0.244063,0.199910,0.173557,0.558581,1.000000,NaN
Wolf (1994),NaN,NaN,0.219445,0.297699,0.783349,0.043253,4.225771e-01,-0.018560,NaN,0.581936,...,0.469278,NaN,1.000000,NaN,0.228089,0.241948,0.331560,0.526067,NaN,NaN
"Woman in Question, The (1950)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Women, The (1939)",NaN,NaN,0.969458,0.369970,NaN,0.000000,2.809757e-01,0.046772,NaN,-0.866025,...,NaN,NaN,NaN,NaN,0.443785,1.000000,NaN,NaN,NaN,NaN
"Wonderful, Horrible Life of Leni Riefenstahl, The (1993)",NaN,NaN,NaN,1.000000,NaN,NaN,8.660254e-01,0.547723,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.707107,-1.000000,NaN,NaN,NaN,NaN
Wonderland (1997),NaN,NaN,-1.000000,NaN,0.981981,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.666667,NaN,NaN,NaN,NaN,0.188982,NaN,NaN
"Wooden Man's Bride, The (Wu Kui) (1994)",NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
"World of Apu, The (Apur Sansar) (1959)",NaN,NaN,NaN,0.577350,NaN,NaN,NaN,0.870388,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN
"Wrong Trousers, The (1993)",-1.000000,1.000000,-0.002382,0.330186,-1.000000,-0.126357,5.480827e-01,0.186458,NaN,-0.205659,...,0.673722,NaN,NaN,NaN,0.116698,-0.019082,-0.236228,0.204124,NaN,NaN
Wyatt Earp (1994),NaN,NaN,0.042025,0.179640,1.000000,0.686864,9.697623e-02,0.067965,NaN,0.161917,...,1.000000,NaN,NaN,NaN,0.158802,0.038792,0.129634,-0.471405,NaN,NaN
Yankee Zulu (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year of the Horse (1997),NaN,NaN,-1.000000,NaN,0.866025,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,1.000000,NaN,-1.000000,1.000000,NaN,NaN,NaN,NaN
You So Crazy (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Young Frankenstein (1974),NaN,-0.944911,0.158840,0.096546,0.455233,0.064559,-9.646534e-02,-0.001307,NaN,0.179196,...,0.158802,NaN,-1.000000,NaN,1.000000,0.510284,0.355001,-0.413197,NaN,NaN
Young Guns (1988),NaN,NaN,0.119234,0.068944,-0.500000,0.156220,-1.089437e-02,-0.174918,NaN,-0.337691,...,0.038792,NaN,1.000000,NaN,0.510284,1.000000,0.722460,-0.019672,NaN,NaN
Young Guns II (1990),NaN,NaN,0.680414,-0.361961,0.500000,0.132017,-5.184758e-01,-0.154765,NaN,-0.054554,...,0.129634,NaN,NaN,NaN,0.355001,0.722460,1.000000,0.866025,NaN,NaN
"Young Poisoner's Handbook, The (1995)",NaN,NaN,0.000000,0.144338,0.475327,0.204926,6.237951e-01,-0.341753,NaN,0.707107,...,-0.471405,NaN,NaN,NaN,-0.413197,-0.019672,0.866025,1.000000,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,0.707107,1.000000,NaN,NaN,NaN,-1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
Á köldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
corr_r=corr.drop(df_num80_val)
corr_r

,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),Á köldum klaka (Cold Fever) (1994)
101 Dalmatians (1996),-1.000000,NaN,1.000000,-0.049890,0.269191,0.048973,2.669281e-01,-0.043407,NaN,0.111111,...,0.042025,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN
12 Angry Men (1957),-0.500000,NaN,-0.049890,1.000000,0.666667,0.256625,2.747720e-01,0.178848,NaN,0.457176,...,0.179640,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,NaN
2 Days in the Valley (1996),0.522233,NaN,0.048973,0.256625,0.596644,1.000000,2.409658e-01,0.332724,NaN,0.000000,...,0.686864,NaN,NaN,NaN,0.064559,0.156220,0.132017,0.204926,NaN,NaN
2001: A Space Odyssey (1968),-0.426401,-0.981981,-0.043407,0.178848,-0.554700,0.332724,2.593080e-01,1.000000,NaN,0.367256,...,0.067965,NaN,NaN,NaN,-0.001307,-0.174918,-0.154765,-0.341753,-1.000000,NaN
Absolute Power (1997),NaN,NaN,0.398783,-0.163455,0.188237,-0.038838,1.625830e-01,-0.241580,NaN,0.248146,...,0.501307,NaN,NaN,NaN,0.050316,0.254324,-0.216581,0.501221,-0.500000,NaN
"Abyss, The (1989)",NaN,NaN,0.236350,0.045374,0.301511,0.174608,4.260511e-01,0.089206,NaN,0.187513,...,0.220800,NaN,NaN,NaN,0.140161,0.384703,0.317906,0.387793,NaN,NaN
Ace Ventura: Pet Detective (1994),0.981981,-1.000000,-0.147491,-0.243775,-0.688247,0.235904,-6.191880e-02,0.138417,NaN,0.028705,...,-0.297275,NaN,NaN,NaN,0.221837,0.360457,0.323724,0.028916,NaN,NaN
Addams Family Values (1993),NaN,NaN,0.195058,0.000000,-0.866025,-0.038043,3.866801e-02,-0.160236,NaN,0.210538,...,0.075146,NaN,NaN,NaN,0.439905,0.072713,0.379050,0.171499,NaN,NaN
"Adventures of Priscilla, Queen of the Desert, The (1994)",NaN,NaN,-0.135467,0.343750,0.883883,0.009032,5.014652e-01,0.077123,NaN,0.203898,...,-0.030303,NaN,1.000000,NaN,0.006924,-0.027420,-0.053060,0.143648,NaN,NaN
"African Queen, The (1951)",NaN,NaN,0.192703,0.266966,0.912871,0.366952,2.327067e-01,0.152433,NaN,0.230732,...,0.122621,NaN,1.000000,NaN,0.233493,0.042534,-0.058222,0.291295,-1.000000,NaN
Air Force One (1997),0.867722,NaN,0.221943,0.228031,0.294232,0.043847,3.192122e-01,-0.282994,NaN,-0.145038,...,0.257013,NaN,0.199205,NaN,0.169209,0.349531,-0.070705,0.139464,NaN,NaN
Aladdin (1992),-0.034483,NaN,0.385118,0.030291,0.609919,0.300585,1.383647e-01,-0.067992,NaN,0.047605,...,0.163449,NaN,NaN,NaN,0.037317,0.207652,0.492770,-0.060495,1.000000,NaN
Alice in Wonderland (1951),NaN,NaN,0.105313,-0.070737,0.242536,-0.442130,1.111300e-02,0.126972,NaN,-0.087101,...,-0.091557,NaN,NaN,NaN,0.221378,0.073251,0.090909,-0.411765,NaN,NaN
Alien (1979),0.500000,0.654654,-0.190265,0.252171,0.084423,0.214240,1.459805e-01,0.248089,NaN,0.156875,...,0.447188,NaN,0.500000,NaN,0.067741,0.112087,0.204919,0.552697,-1.000000,NaN
Alien 3 (1992),NaN,1.000000,0.446404,0.133696,-0.904534,0.183280,3.604753e-01,0.219786,NaN,0.163641,...,0.316170,NaN,NaN,NaN,0.133175,0.171035,0.191670,-0.030934,NaN,NaN
Alien: Resurrection (1997),NaN,NaN,0.250407,0.062017,-0.036010,0.602555,-1.246393e-01,0.021212,NaN,0.106066,...,0.205557,NaN,NaN,NaN,0.398321,0.431527,0.333333,0.195615,NaN,NaN
Aliens (1986),0.577350,0.944911,0.204011,0.111954,0.333914,0.053423,2.126569e-01,0.059130,NaN,0.042926,...,0.303307,NaN,0.500000,NaN,0.098298,0.296986,0.338877,0.490321,NaN,NaN
Amadeus (1984),0.233550,-0.755929,0.102174,0.243786,-0.163903,0.058833,4.346190e-01,0.085876,NaN,0.042750,...,0.241402,NaN,1.000000,NaN,0.235444,0.049630,-0.151864,0.608692,-0.866025,NaN
"American President, The (1995)",0.861640,NaN,0.086895,0.128010,0.868599,0.103137,2.396466e-01,-0.048654,NaN,-0.048625,...,-0.030802,NaN,NaN,NaN,0.333747,0.466626,0.399245,-0.710885,NaN,NaN
"American Werewolf in London, An (1981)",NaN,1.000000,0.186636,0.043671,-0.522233,0.349936,3.189959e-01,-0.042703,NaN,0.163577,...,0.304059,NaN,NaN,NaN,0.270169,0.287090,0.255655,0.457445,NaN,NaN
Amistad (1997),1.000000,NaN,-0.382451,0.276385,0.477002,0.327688,-1.129865e-01,-0.093036,NaN,-0.219265,...,0.661438,NaN,-0.755929,NaN,0.068761,0.377964,0.342997,-0.222104,NaN,NaN
Annie Hall (1977),NaN,1.000000,0.261032,0.126591,-0.171499,-0.101457,-1.724573e-01,0.109338,NaN,0.238012,...,0.507549,NaN,NaN,NaN,0.222541,-0.071808,0.135116,0.155207,NaN,NaN
Apocalypse Now (1979),NaN,0.654654,0.232236,0.157675,-0.141421,0.080668,1.297870e-01,0.312847,NaN,0.195898,...,0.467892,NaN,NaN,NaN,0.020732,0.104059,-0.374550,0.500300,NaN,NaN
Apollo 13 (1995),0.816497,-1.000000,0.147737,0.084886,0.000000,0.273206,3.198433e-01,0.011481,NaN,0.088535,...,0.351285,NaN,NaN,NaN,0.256941,0.294676,-0.222015,0.020255,-0.500000,NaN
Apt Pupil (1998),-1.000000,NaN,0.139410,-0.130437,0.054411,0.344296,-3.683761e-01,0.166499,NaN,0.242536,...,0.208356,NaN,-0.500000,NaN,0.232016,0.349070,-0.511891,0.161290,NaN,NaN
Army of Darkness (1993),NaN,1.000000,-0.010142,0.477251,-0.182574,-0.205339,9.798119e-02,-0.224656,NaN,0.390982,...,-0.107883,NaN,1.000000,NaN,0.181013,0.296446,0.341697,0.506171,NaN,NaN
"Arrival, The (1996)",NaN,NaN,0.172590,-0.042967,0.143509,0.373055,5.032453e-01,0.055527,NaN,-0.262152,...,-0.039750,NaN,NaN,NaN,0.144367,0.563016,0.615977,0.339593,NaN,NaN
Arsenic and Old Lace (1944),NaN,NaN,0.486547,0.247777,-1.000000,0.110953,3.899470e-01,0.057027,NaN,-0.057780,...,0.254185,NaN,1.000000,NaN,0.272774,0.352066,0.223376,0.000000,NaN,NaN
As Good As It Gets (1997),-0.333333,NaN,0.135267,-0.180756,0.207514,0.368217,9.764168e-02,-0.114206,NaN,-0.058926,...,-0.288675,NaN,-0.124515,NaN,0.049982,0.220223,-0.301511,-0.438529,NaN,NaN
Austin Powers: International Man of Mystery (1997),0.433013,1.000000,0.220344,0.109320,0.457342,0.098209,5.040302e-01,0.044811,NaN,-0.442326,...,0.178571,NaN,NaN,NaN,0.330645,0.019981,0.216506,0.236668,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Toy Story (1995),0.534522,NaN,0.232118,0.334943,0.651857,0.162728,3.284717e-01,-0.069060,NaN,0.150055,...,0.078969,NaN,0.970725,NaN,0.239244,0.373463,0.146312,-0.026402,0.447914,NaN
Trainspotting (1996),-0.981981,0.981981,-0.171869,0.251702,0.228908,0.205064,3.133142e-01,0.161473,NaN,0.364311,...,-0.309690,NaN,0.960769,NaN,0.138761,0.017162,0.204073,0.525793,-0.500000,NaN
"Treasure of the Sierra Madre, The (1948)",NaN,NaN,0.089642,0.345550,1.000000,0.000000,1.611511e-01,0.067792,NaN,0.317169,...,0.651534,NaN,NaN,NaN,-0.074506,-0.503322,-1.000000,0.408248,NaN,NaN
True Lies (1994),NaN,0.188982,0.234654,-0.060535,0.691148,-0.073541,1.993638e-01,0.062077,NaN,0.054376,...,0.193192,NaN,NaN,NaN,0.221270,0.290502,-0.024515,-0.089571,NaN,NaN
True Romance (1993),-1.000000,0.981981,0.176055,-0.010191,0.512989,0.336794,6.977407e-01,0.459189,NaN,0.209540,...,0.247934,NaN,NaN,NaN,0.098867,0.043799,0.193122,0.068446,NaN,NaN
"Truth About Cats & Dogs, The (1996)",0.731272,-0.944911,-0.001844,-0.077142,0.778499,0.214343,2.915935e-01,0.071430,NaN,-0.228859,...,0.227922,NaN,0.693375,NaN,0.377966,0.242939,0.464953,-0.412909,-0.049029,NaN
Twelve Monkeys (1995),0.395285,-0.188982,-0.184141,0.132208,0.315476,0.280427,2.806421e-01,0.197309,NaN,0.117741,...,-0.188901,NaN,0.404226,NaN,0.261973,0.247390,0.403087,0.194659,0.000000,NaN
Twister (1996),0.612372,NaN,0.288375,-0.230257,-0.090144,0.304602,-4.887498e-02,0.059306,NaN,0.000000,...,0.340326,NaN,0.240192,NaN,0.203980,0.318441,0.000000,-0.206684,-0.559017,NaN
Ulee's Gold (1997),0.816497,NaN,-0.398240,0.619544,0.370117,0.603583,4.147807e-01,0.172548,NaN,0.568535,...,0.556294,NaN,0.716115,NaN,-0.141568,-0.016003,-0.229416,0.297555,NaN,NaN
"Unbearable Lightness of Being, The (1988)",-1.000000,NaN,0.176634,0.201792,-0.413670,0.338327,1.089405e-01,0.225495,NaN,0.036161,...,0.508663,NaN,-0.693375,NaN,0.205047,-0.133774,-0.359211,0.007032,NaN,NaN
Under Siege (1992),NaN,1.000000,0.496127,0.081115,0.866025,-0.321626,4.564882e-01,0.005066,NaN,0.363285,...,0.114780,NaN,NaN,NaN,0.274002,0.264648,0.173663,-0.730297,NaN,NaN
Unforgiven (1992),NaN,1.000000,0.099880,0.182442,0.592349,0.228926,1.935369e-01,0.208567,NaN,0.295426,...,0.330267,NaN,NaN,NaN,-0.052480,0.026019,0.167141,0.481442,NaN,NaN
Up Close and Personal (1996),1.000000,NaN,0.277144,0.113912,0.188982,-0.050042,8.859624e-02,-0.295720,NaN,-0.666667,...,0.289775,NaN,NaN,NaN,0.098402,0.178365,0.686406,-0.748455,NaN,NaN
"Usual Suspects, The (1995)",NaN,-0.755929,0.110978,-0.055986,0.255064,0.261798,1.277761e-01,0.117871,NaN,-0.135582,...,-0.040362,NaN,NaN,NaN,0.061883,0.152700,0.066259,0.382439,NaN,NaN
Vertigo (1958),1.000000,1.000000,0.269233,0.509460,-0.136285,0.073885,3.917689e-01,0.257199,NaN,0.273184,...,0.225913,NaN,NaN,NaN,0.159119,-0.056928,0.385758,0.282843,NaN,NaN
"Very Brady Sequel, A (1996)",-0.927173,NaN,-0.054439,-0.024847,0.193122,0.138663,0.000000e+00,-0.019891,NaN,-0.143019,...,0.298118,NaN,NaN,NaN,0.061436,-0.183722,-0.364661,0.056604,0.866025,NaN
Volcano (1997),-0.500000,NaN,0.077785,-0.043733,-0.071329,0.089540,-4.307305e-02,-0.070535,NaN,0.267460,...,0.457738,NaN,-0.174928,NaN,-0.057348,0.220110,-0.086066,0.384742,0.000000,NaN
Wag the Dog (1997),0.577350,-0.944911,-0.009858,0.200217,0.183691,0.372483,-5.638544e-01,-0.183527,NaN,0.150756,...,0.298150,NaN,NaN,NaN,0.440264,0.292683,-0.288675,-0.207011,NaN,NaN
Waterworld (1995),NaN,NaN,0.134765,0.324331,0.420084,0.465517,3.965633e-01,0.031886,NaN,-0.462349,...,0.488166,NaN,1.000000,NaN,0.335190,0.493489,-0.003040,0.701561,1.000000,NaN
Welcome to the Dollhouse (1995),0.000000,0.785714,-0.110921,-0.221473,0.881917,0.398740,-1.934196e-02,-0.013706,NaN,0.171042,...,0.422577,NaN,NaN,NaN,0.490108,0.062641,0.519701,0.647958,-1.000000,NaN
What's Eating Gilbert Grape (1993),NaN,NaN,0.130558,0.115089,0.443706,0.034095,4.600818e-01,-0.011228,NaN,-0.527589,...,0.303210,NaN,NaN,NaN,0.176245,0.027036,0.085749,0.406449,NaN,NaN
When Harry Met Sally... (1989),-0.415227,NaN,0.312021,0.169496,0.190879,0.149622,4.486423e-01,0.023712,NaN,0.152042,...,0.324069,NaN,1.000000,NaN,0.153234,0.374161,0.479828,0.476662,NaN,NaN
While You Were Sleeping (1995),0.333333,NaN,0.021598,-0.077648,0.455233,0.108512,-1.091388e-01,-0.050377,NaN,-0.204479,...,-0.182564,NaN,0.500000,NaN,0.327986,0.275161,0.447516,0.299813,NaN,NaN
White Squall (1996),1.000000,NaN,0.021687,0.514496,0.346410,0.186636,2.384158e-01,-0.040268,NaN,-0.492366,...,0.185695,NaN,1.000000,NaN,-0.200847,0.334896,0.253320,-0.198517,NaN,NaN
William Shakespeare's Romeo and Juliet (1996),1.000000,1.000000,0.257404,0.265786,-0.326578,0.573097,4.614010e-01,0.128939,NaN,0.183892,...,0.483968,NaN,-1.000000,NaN,-0.003434,-0.023714,-0.118262,0.606052,NaN,NaN
Willy Wonka and the Chocolate Factory (1971),0.000000,0.188982,0.105261,0.149164,0.750555,0.104347,1.656777e-17,0.147293,NaN,0.281335,...,-0.069592,NaN,1.000000,NaN,0.291210,0.138136,0.236875,0.396059,-0.166091,NaN
"Wizard of Oz, The (1939)",-0.132453,-1.000000,0.366592,0.165508,0.741480,0.159602,4.524856e-01,0.236830,NaN,0.233570,...,0.390592,NaN,0.500000,NaN,0.244063,0.199910,0.173557,0.558581,1.000000,NaN
"Wrong Trousers, The (1993)",-1.000000,1.000000,-0.002382,0.330186,-1.000000,-0.126357,5.480827e-01,0.186458,NaN,-0.205659,...,0.673722,NaN,NaN,NaN,0.116698,-0.019082,-0.236228,0.204124,NaN,NaN
Young Frankenstein (1974),NaN,-0.944911,0.158840,0.096546,0.455233,0.064559,-9.646534e-02,-0.001307,NaN,0.179196,...,0.158802,NaN,-1.000000,NaN,1.000000,0.510284,0.355001,-0.413197,NaN,NaN
Young Guns (1988),NaN,NaN,0.119234,0.068944,-0.500000,0.156220,-1.089437e-02,-0.174918,NaN,-0.337691,...,0.038792,NaN,1.000000,NaN,0.510284,1.000000,0.722460,-0.019672,NaN,NaN

In [49]:
df_corr.head(10)      # latest watched best rated movie by each user

   user_id                                              title
0        0                                   Star Wars (1977)
1        1                Truth About Cats & Dogs, The (1996)
2        2                          As Good As It Gets (1997)
3        3  Paradise Lost: The Child Murders at Robin Hood...
4        4                                   Liar Liar (1997)
5        5             Return of the Pink Panther, The (1974)
6        6                                       Dumbo (1941)
7        7             One Flew Over the Cuckoo's Nest (1975)
8        8                    Star Trek: First Contact (1996)
9        9                                  Casablanca (1942)

In [50]:
watched=pd.DataFrame(list(df.groupby('user_id')['title']), columns=['user_id','watched_movies'])
watched.head(10)

   user_id                                     watched_movies
0        0  0                   Star Wars (1977)
1    Empi...
1        1  37778                                     Star...
2        2  208                               Star Wars (1...
3        3  89793                             L.A. Confide...
4        4  11323                             Star Wars (1...
5        5  22115                   Star Wars (1977)
22116...
6        6  17159                                     Star...
7        7  72256                                     Star...
8        8  270                                 Star Wars ...
9        9  59288                                     Star...

In [51]:
list(watched.iloc[8,1])[0:10]     # it's a series and now it has become a list

['Star Wars (1977)',
 'Empire Strikes Back, The (1980)',
 'Star Trek: First Contact (1996)',
 'Die Hard (1988)',
 'Last of the Mohicans, The (1992)',
 'Return of the Jedi (1983)',
 'Star Trek III: The Search for Spock (1984)',
 "Miller's Crossing (1990)",
 'Batman (1989)',
 'Bean (1997)']

In [53]:
watched.iloc[8,1]

270                                 Star Wars (1977)
271                  Empire Strikes Back, The (1980)
272                  Star Trek: First Contact (1996)
273                                  Die Hard (1988)
274                 Last of the Mohicans, The (1992)
275                        Return of the Jedi (1983)
276       Star Trek III: The Search for Spock (1984)
277                         Miller's Crossing (1990)
278                                    Batman (1989)
279                                      Bean (1997)
280                                 Liar Liar (1997)
281                        Executive Decision (1996)
282                   Raiders of the Lost Ark (1981)
283                Terminator 2: Judgment Day (1991)
284                           Terminator, The (1984)
285                                 True Lies (1994)
286                                      Heat (1995)
287           Good, The Bad and The Ugly, The (1966)
288                             Fugitive, The (1993)
289                                   Contact (1997)
290              Star Trek: The Wrath of Khan (1982)
291                        Leave It to Beaver (1997)
292                            Godfather, The (1972)
293                                     Speed (1994)
294                            Twelve Monkeys (1995)
295                              Pulp Fiction (1994)
296                              Blade Runner (1982)
297                             Seven (Se7en) (1995)
298                             Jurassic Park (1993)
299    Star Trek VI: The Undiscovered Country (1991)
300                                     Alien (1979)
301                                    Aliens (1986)
302                         Full Metal Jacket (1987)
303                      George of the Jungle (1997)
304        Indiana Jones and the Last Crusade (1989)
305                                Highlander (1986)
306                                GoodFellas (1990)
307                   Godfather: Part II, The (1974)
308                Die Hard: With a Vengeance (1995)
309                         Professional, The (1994)
310                                  In & Out (1997)
311                                Braveheart (1995)
312                          Perfect World, A (1993)
313                  Clear and Present Danger (1994)
314                                   Henry V (1989)
315                               Under Siege (1992)
316                        Lawrence of Arabia (1962)
317                    Magnificent Seven, The (1954)
318        Butch Cassidy and the Sundance Kid (1969)
319                                     Glory (1989)
320                             Jungle2Jungle (1997)
321                             McHale's Navy (1997)
322                  Free Willy 3: The Rescue (1997)
323                       In the Line of Fire (1993)
324                             Event Horizon (1997)
325                               Jackal, The (1997)
326                               Playing God (1997)
327                             Critical Care (1997)
328                                     Spawn (1997)
Name: title, dtype: object

In [54]:
list(corr_r.iloc[:,6].sort_values(ascending=False).index)[0:10]

['Picture Perfect (1997)',
 'Scream 2 (1997)',
 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
 'True Romance (1993)',
 'Ben-Hur (1959)',
 "Muriel's Wedding (1994)",
 'I Know What You Did Last Summer (1997)',
 'Midnight in the Garden of Good and Evil (1997)',
 'Kiss the Girls (1997)',
 'Seven Years in Tibet (1997)']

In [55]:
movie_rec=pd.DataFrame()
movie_rec['movie']=df_corr['title']
movie_rec.head(10)

                                               movie
0                                   Star Wars (1977)
1                Truth About Cats & Dogs, The (1996)
2                          As Good As It Gets (1997)
3  Paradise Lost: The Child Murders at Robin Hood...
4                                   Liar Liar (1997)
5             Return of the Pink Panther, The (1974)
6                                       Dumbo (1941)
7             One Flew Over the Cuckoo's Nest (1975)
8                    Star Trek: First Contact (1996)
9                                  Casablanca (1942)

In [56]:
m=0
movie_rec['recommend']=''      #creating a blank column with null values in dataframe
movie_rec['recommend']=movie_rec['recommend'].astype(object)    #to get rid of sequence error the column should be object rather than float or int to have list as values
for i in list(df_corr['title']):
    l=list(corr_r.loc[:,i].sort_values(ascending=False).index)
    if movie_rec.loc[m,'movie']==l[0]:
        movie_rec.at[m,'recommend']=l[1:]     # removing first correlation as it is with itself
    else:
        movie_rec.at[m,'recommend']=l         # for <80 ratings first correlation would not be with itself so not removing 
    m+=1

In [57]:
movie_rec['user_id']=df_corr['user_id']
movie_rec=movie_rec[['movie','user_id','recommend']]
movie_rec.head(10)

,movie,user_id,recommend
0,Star Wars (1977),0,"[Empire Strikes Back, The (1980), Return of th..."
1,"Truth About Cats & Dogs, The (1996)",1,"[Craft, The (1996), Mulholland Falls (1996), M..."
2,As Good As It Gets (1997),2,"[Apt Pupil (1998), Crumb (1994), Very Brady Se..."
3,Paradise Lost: The Child Murders at Robin Hood...,3,"[I Know What You Did Last Summer (1997), Fathe..."
4,Liar Liar (1997),4,"[Batman Forever (1995), Bean (1997), Mask, The..."
5,"Return of the Pink Panther, The (1974)",5,"[I Know What You Did Last Summer (1997), Juror..."
6,Dumbo (1941),6,"[Pinocchio (1940), Donnie Brasco (1997), Snow ..."
7,One Flew Over the Cuckoo's Nest (1975),7,"[Kingpin (1996), Arsenic and Old Lace (1944), ..."
8,Star Trek: First Contact (1996),8,"[Money Talks (1997), Star Trek: Generations (1..."
9,Casablanca (1942),9,"[Escape from New York (1981), Maltese Falcon, ..."

# Removing already watched movies

In [58]:
movie_rec['final_recommend']=''
movie_rec['final_recommend']=movie_rec['final_recommend'].astype(object)
for i in movie_rec['user_id']:
    movie_rec.at[i,'final_recommend']=[x for x in movie_rec.loc[i,'recommend'] if x not in list(watched.loc[i,'watched_movies'])]

In [59]:
movie_rec.head(10)

,movie,user_id,recommend,final_recommend
0,Star Wars (1977),0,"[Empire Strikes Back, The (1980), Return of th...","[Return of the Jedi (1983), Raiders of the Los..."
1,"Truth About Cats & Dogs, The (1996)",1,"[Craft, The (1996), Mulholland Falls (1996), M...","[Craft, The (1996), Mulholland Falls (1996), M..."
2,As Good As It Gets (1997),2,"[Apt Pupil (1998), Crumb (1994), Very Brady Se...","[Crumb (1994), Very Brady Sequel, A (1996), Ma..."
3,Paradise Lost: The Child Murders at Robin Hood...,3,"[I Know What You Did Last Summer (1997), Fathe...","[I Know What You Did Last Summer (1997), Fathe..."
4,Liar Liar (1997),4,"[Batman Forever (1995), Bean (1997), Mask, The...","[Batman Forever (1995), Bean (1997), Mask, The..."
5,"Return of the Pink Panther, The (1974)",5,"[I Know What You Did Last Summer (1997), Juror...","[I Know What You Did Last Summer (1997), Juror..."
6,Dumbo (1941),6,"[Pinocchio (1940), Donnie Brasco (1997), Snow ...","[Pinocchio (1940), Snow White and the Seven Dw..."
7,One Flew Over the Cuckoo's Nest (1975),7,"[Kingpin (1996), Arsenic and Old Lace (1944), ...","[Kingpin (1996), Picture Perfect (1997), Screa..."
8,Star Trek: First Contact (1996),8,"[Money Talks (1997), Star Trek: Generations (1...","[Money Talks (1997), Star Trek: Generations (1..."
9,Casablanca (1942),9,"[Escape from New York (1981), Maltese Falcon, ...","[Escape from New York (1981), Maltese Falcon, ..."

In [60]:
list(watched[watched['user_id']==943]['watched_movies'])[0:10]    # just a check

[79489                   Star Wars (1977)
 79490    Empire Strikes Back, The (1980)
 79491         Legends of the Fall (1994)
 79492                    Only You (1994)
 79493                     Sabrina (1995)
                       ...
 79652               Young Guns II (1990)
 79653    Apple Dumpling Gang, The (1975)
 79654                 Judge Dredd (1995)
 79655               Mortal Kombat (1995)
 79656     An Unforgettable Summer (1994)
 Name: title, Length: 168, dtype: object]

In [61]:
final_recommendation=pd.DataFrame()
final_recommendation['user_id']=movie_rec['user_id']
final_recommendation['final_recommend']=movie_rec['final_recommend']
final_recommendation.head(10)

   user_id                                    final_recommend
0        0  [Return of the Jedi (1983), Raiders of the Los...
1        1  [Craft, The (1996), Mulholland Falls (1996), M...
2        2  [Crumb (1994), Very Brady Sequel, A (1996), Ma...
3        3  [I Know What You Did Last Summer (1997), Fathe...
4        4  [Batman Forever (1995), Bean (1997), Mask, The...
5        5  [I Know What You Did Last Summer (1997), Juror...
6        6  [Pinocchio (1940), Snow White and the Seven Dw...
7        7  [Kingpin (1996), Picture Perfect (1997), Screa...
8        8  [Money Talks (1997), Star Trek: Generations (1...
9        9  [Escape from New York (1981), Maltese Falcon, ...

In [62]:
final_recommendation.dtypes

user_id             int64
final_recommend    object
dtype: object

In [63]:
type(final_recommendation.loc[6,'final_recommend'])

list

# Put your user_id and get recommendations

In [64]:
n=input("Your user id, Please! : ")
n=int(n)
print("You have got these recommendations: ",sep="\n")
for i in range(len(final_recommendation.loc[n,'final_recommend'])):
    print(str(i+1)+"."+final_recommendation.loc[n,'final_recommend'][i])

Your user id, Please! : 3
You have got these recommendations:
1.I Know What You Did Last Summer (1997)
2.Father of the Bride Part II (1995)
3.Chain Reaction (1996)
4.Sex, Lies, and Videotape (1989)
5.Picture Perfect (1997)
6.Willy Wonka and the Chocolate Factory (1971)
7.Scream 2 (1997)
8.Ace Ventura: Pet Detective (1994)
9.Remains of the Day, The (1993)
10.Escape from New York (1981)
11.Happy Gilmore (1996)
12.Gone with the Wind (1939)
13.Deer Hunter, The (1978)
14.Nightmare Before Christmas, The (1993)
15.Courage Under Fire (1996)
16.Maverick (1994)
17.Ben-Hur (1959)
18.Clockwork Orange, A (1971)
19.Midnight in the Garden of Good and Evil (1997)
20.2 Days in the Valley (1996)
21.Nikita (La Femme Nikita) (1990)
22.Patton (1970)
23.William Shakespeare's Romeo and Juliet (1996)
24.Cinderella (1950)
25.Arsenic and Old Lace (1944)
26.Sword in the Stone, The (1963)
27.Very Brady Sequel, A (1996)
28.Bob Roberts (1992)
29.Monty Python and the Holy Grail (1974)
30.Streetcar Named Desire, A (1951)
31.Amadeus (1984)
32.Much Ado About Nothing (1993)
33.Alien (1979)
34.Sense and Sensibility (1995)
35.Austin Powers: International Man of Mystery (1997)
36.Waterworld (1995)
37.My Fair Lady (1964)
38.Kolya (1996)
39.Return of the Pink Panther, The (1974)
40.Kingpin (1996)
41.Terminator, The (1984)
42.Hunchback of Notre Dame, The (1996)
43.Rumble in the Bronx (1995)
44.Omen, The (1976)
45.People vs. Larry Flynt, The (1996)
46.Star Trek: Generations (1994)
47.Boot, Das (1981)
48.Professional, The (1994)
49.Basic Instinct (1992)
50.Killing Fields, The (1984)
51.Adventures of Priscilla, Queen of the Desert, The (1994)
52.Highlander (1986)
53.Mission: Impossible (1996)
54.Seven (Se7en) (1995)
55.Con Air (1997)
56.Fugitive, The (1993)
57.Addams Family Values (1993)
58.Hudsucker Proxy, The (1994)
59.Nutty Professor, The (1996)
60.Army of Darkness (1993)
61.Primal Fear (1996)
62.Psycho (1960)
63.Grease (1978)
64.Philadelphia (1993)
65.Three Musketeers, The (1993)
66.Home Alone (1990)
67.Grifters, The (1990)
68.Juror, The (1996)
69.Mrs. Brown (Her Majesty, Mrs. Brown) (1997)
70.Some Like It Hot (1959)
71.North by Northwest (1959)
72.Princess Bride, The (1987)
73.Birdcage, The (1996)
74.Mary Poppins (1964)
75.Speed (1994)
76.Dead Man Walking (1995)
77.City of Lost Children, The (1995)
78.English Patient, The (1996)
79.Crumb (1994)
80.Bonnie and Clyde (1967)
81.Nixon (1995)
82.Ed Wood (1994)
83.Evil Dead II (1987)
84.Miracle on 34th Street (1994)
85.Indiana Jones and the Last Crusade (1989)
86.Piano, The (1993)
87.Heat (1995)
88.Shining, The (1980)
89.Absolute Power (1997)
90.American Werewolf in London, An (1981)
91.Private Parts (1997)
92.Donnie Brasco (1997)
93.Bram Stoker's Dracula (1992)
94.This Is Spinal Tap (1984)
95.True Romance (1993)
96.Maltese Falcon, The (1941)
97.Crimson Tide (1995)
98.Ransom (1996)
99.Copycat (1995)
100.Crying Game, The (1992)
101.Welcome to the Dollhouse (1995)
102.Fifth Element, The (1997)
103.Aliens (1986)
104.My Life as a Dog (Mitt liv som hund) (1985)
105.Birds, The (1963)
106.Die Hard (1988)
107.Batman (1989)
108.Sound of Music, The (1965)
109.From Dusk Till Dawn (1996)
110.12 Angry Men (1957)
111.Brazil (1985)
112.Postino, Il (1994)
113.Babe (1995)
114.Snow White and the Seven Dwarfs (1937)
115.Hamlet (1996)
116.Magnificent Seven, The (1954)
117.Natural Born Killers (1994)
118.Beauty and the Beast (1991)
119.Twelve Monkeys (1995)
120.Arrival, The (1996)
121.To Die For (1995)
122.Shine (1996)
123.Mars Attacks! (1996)
124.Manchurian Candidate, The (1962)
125.Cape Fear (1991)
126.Vertigo (1958)
127.Full Monty, The (1997)
128.Interview with the Vampire (1994)
129.Raising Arizona (1987)
130.Apocalypse Now (1979)
131.Sleepers (1996)
132.Batman Returns (1992)
133.Platoon (1986)
134.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
135.Godfather, The (1972)
136.Casino (1995)
137.Jurassic Park (1993)
138.Cape Fear (1962)
139.Romy and Michele's High School Reunion (1997)
140.First Wives Club, The (1996)
141.Quiz Show (1994)
142.Alien 3 (1992)
143.High Noon (1952)
144.Godfather: Part II, The (1974)
145.Cable Guy, The (1996)
146.Dirty Dancing (1987)
147.Clerks (1994)
148.Trainspotting (1996)
149.Full Metal Jacket (1987)
150.Heathers (1989)
151.Casablanca (1942)
152.Toy Story (1995)
153.Carrie (1976)
154.Three Colors: Red (1994)
155.Fish Called Wanda, A (1988)
156.Pulp Fiction (1994)
157.Rob Roy (1995)
158.Time to Kill, A (1996)
159.Cook the Thief His Wife & Her Lover, The (1989)
160.Usual Suspects, The (1995)
161.Rock, The (1996)
162.Evita (1996)
163.That Thing You Do! (1996)
164.Rear Window (1954)
165.Bound (1996)
166.River Wild, The (1994)
167.2001: A Space Odyssey (1968)
168.Fargo (1996)
169.Clueless (1995)
170.Wizard of Oz, The (1939)
171.Nightmare on Elm Street, A (1984)
172.Hoop Dreams (1994)
173.Sabrina (1995)
174.Sling Blade (1996)
175.Reservoir Dogs (1992)
176.Good, The Bad and The Ugly, The (1966)
177.M*A*S*H (1970)
178.Cliffhanger (1993)
179.In & Out (1997)
180.Star Trek IV: The Voyage Home (1986)
181.Jaws (1975)
182.Pretty Woman (1990)
183.Taxi Driver (1976)
184.Real Genius (1985)
185.Monty Python's Life of Brian (1979)
186.Great Escape, The (1963)
187.Strange Days (1995)
188.One Flew Over the Cuckoo's Nest (1975)
189.Star Wars (1977)
190.101 Dalmatians (1996)
191.Bridge on the River Kwai, The (1957)
192.Tombstone (1993)
193.Annie Hall (1977)
194.Mystery Science Theater 3000: The Movie (1996)
195.Men in Black (1997)
196.Conan the Barbarian (1981)
197.Richard III (1995)
198.Benny & Joon (1993)
199.Muriel's Wedding (1994)
200.Blues Brothers, The (1980)
201.Star Trek: The Wrath of Khan (1982)
202.Shawshank Redemption, The (1994)
203.Broken Arrow (1996)
204.When Harry Met Sally... (1989)
205.Demolition Man (1993)
206.Raiders of the Lost Ark (1981)
207.Fantasia (1940)
208.Jackie Chan's First Strike (1996)
209.Unforgiven (1992)
210.Titanic (1997)
211.Empire Strikes Back, The (1980)
212.Hunt for Red October, The (1990)
213.Singin' in the Rain (1952)
214.Lawrence of Arabia (1962)
215.Lion King, The (1994)
216.True Lies (1994)
217.Emma (1996)
218.Forrest Gump (1994)
219.African Queen, The (1951)
220.Leaving Las Vegas (1995)
221.Mr. Smith Goes to Washington (1939)
222.Escape from L.A. (1996)
223.E.T. the Extra-Terrestrial (1982)
224.Batman Forever (1995)
225.Long Kiss Goodnight, The (1996)
226.Silence of the Lambs, The (1991)
227.Braveheart (1995)
228.Chinatown (1974)
229.Frighteners, The (1996)
230.Back to the Future (1985)
231.Terminator 2: Judgment Day (1991)
232.Miller's Crossing (1990)
233.GoldenEye (1995)
234.Four Weddings and a Funeral (1994)
235.Dumbo (1941)
236.Unbearable Lightness of Being, The (1988)
237.Ice Storm, The (1997)
238.Mr. Holland's Opus (1995)
239.Harold and Maude (1971)
240.Strictly Ballroom (1992)
241.Close Shave, A (1995)
242.Duck Soup (1933)
243.GoodFellas (1990)
244.Apollo 13 (1995)
245.Philadelphia Story, The (1940)
246.Glory (1989)
247.Sting, The (1973)
248.Craft, The (1996)
249.Young Frankenstein (1974)
250.Abyss, The (1989)
251.Star Trek: First Contact (1996)
252.Sleeper (1973)
253.Fierce Creatures (1997)
254.Manhattan (1979)
255.Crow, The (1994)
256.Lone Star (1996)
257.Graduate, The (1967)
258.To Kill a Mockingbird (1962)
259.James and the Giant Peach (1996)
260.Get Shorty (1995)
261.Field of Dreams (1989)
262.Last of the Mohicans, The (1992)
263.Gandhi (1982)
264.Breakfast at Tiffany's (1961)
265.Blade Runner (1982)
266.Henry V (1989)
267.Searching for Bobby Fischer (1993)
268.Groundhog Day (1993)
269.Man Who Would Be King, The (1975)
270.Fly Away Home (1996)
271.Die Hard 2 (1990)
272.It's a Wonderful Life (1946)
273.Being There (1979)
274.Big Night (1996)
275.Pinocchio (1940)
276.Right Stuff, The (1983)
277.Dances with Wolves (1990)
278.Twister (1996)
279.Firm, The (1993)
280.Cool Hand Luke (1967)
281.Stand by Me (1986)
282.Alice in Wonderland (1951)
283.My Left Foot (1989)
284.Gattaca (1997)
285.Swingers (1996)
286.Mighty Aphrodite (1995)
287.Face/Off (1997)
288.Grosse Pointe Blank (1997)
289.Die Hard: With a Vengeance (1995)
290.Star Trek VI: The Undiscovered Country (1991)
291.Raging Bull (1980)
292.Dave (1993)
293.Aladdin (1992)
294.Secrets & Lies (1996)
295.Ghost and the Darkness, The (1996)
296.Citizen Kane (1941)
297.Rosencrantz and Guildenstern Are Dead (1990)
298.Space Jam (1996)
299.Cold Comfort Farm (1995)
300.Like Water For Chocolate (Como agua para chocolate) (1992)
301.Apt Pupil (1998)
302.Truth About Cats & Dogs, The (1996)
303.Dead Poets Society (1989)
304.Net, The (1995)
305.Desperado (1995)
306.Jerry Maguire (1996)
307.Independence Day (ID4) (1996)
308.Butch Cassidy and the Sundance Kid (1969)
309.Day the Earth Stood Still, The (1951)
310.It Happened One Night (1934)
311.Cinema Paradiso (1988)
312.Rosewood (1997)
313.Tin Cup (1996)
314.Jackal, The (1997)
315.Treasure of the Sierra Madre, The (1948)
316.Grumpier Old Men (1995)
317.Star Trek III: The Search for Spock (1984)
318.Volcano (1997)
319.Saint, The (1997)
320.Executive Decision (1996)
321.Under Siege (1992)
322.One Fine Day (1996)
323.Room with a View, A (1986)
324.Bullets Over Broadway (1994)
325.Mrs. Doubtfire (1993)
326.Michael Collins (1996)
327.Eraser (1996)
328.Beautiful Girls (1996)
329.As Good As It Gets (1997)
330.Outbreak (1995)
331.Client, The (1994)
332.Amistad (1997)
333.Sleepless in Seattle (1993)
334.Pink Floyd - The Wall (1982)
335.In the Line of Fire (1993)
336.Sneakers (1992)
337.Rebel Without a Cause (1955)
338.Young Guns (1988)
339.First Knight (1995)
340.Madness of King George, The (1994)
341.Phantom, The (1996)
342.While You Were Sleeping (1995)
343.American President, The (1995)
344.Star Trek: The Motion Picture (1979)
345.Fried Green Tomatoes (1991)
346.Somewhere in Time (1980)
347.Spawn (1997)
348.Dragonheart (1996)
349.Clear and Present Danger (1994)
350.Matilda (1996)
351.Mask, The (1994)
352.Ghost (1990)
353.Money Talks (1997)
354.Legends of the Fall (1994)
355.Tomorrow Never Dies (1997)
356.Stargate (1994)
357.Top Gun (1986)
358.Beavis and Butt-head Do America (1996)
359.Rainmaker, The (1997)
360.I.Q. (1994)
361.Jungle2Jungle (1997)
362.Mulholland Falls (1996)
363.Muppet Treasure Island (1996)
364.Down Periscope (1996)
365.Michael (1996)
366.Jumanji (1995)
367.Up Close and Personal (1996)
368.Seven Years in Tibet (1997)
369.Phenomenon (1996)
370.French Kiss (1995)
371.So I Married an Axe Murderer (1993)
372.Beautician and the Beast, The (1997)
373.Eat Drink Man Woman (1994)
374.Four Rooms (1995)
375.George of the Jungle (1997)
376.Jungle Book, The (1994)
377.Little Women (1994)
378.Lost World: Jurassic Park, The (1997)
379.Multiplicity (1996)
380.My Best Friend's Wedding (1997)
381.My Fellow Americans (1996)
382.Nell (1994)
383.On Golden Pond (1981)
384.Peacemaker, The (1997)
385.Santa Clause, The (1994)
386.Spitfire Grill, The (1996)
387.What's Eating Gilbert Grape (1993)
388.White Squall (1996)
389.Wrong Trousers, The (1993)